*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --glow-color: hsl(299, 98%, 56%);
    --pink-gradient:linear-gradient(to right,#2605ba,#5905c7,#8900F2,#A100f2,#B100E8,#BC00DD,#D100D1,#DB00D6,#E500A4,#ca0073);
  }
body
{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container
{
    height: 85vh;
    width:55vw;
    padding:4vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1{
    background:var(--pink-gradient);
    color: transparent;
    background-clip: text;
    font-family:cursive;
    font-size: xx-large;
}
.game
{
    width:100%;
    height: 100%;
    padding:2vmin 4vmin;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:7vh;
}
.box
{
    background-color:black; 
    cursor: pointer;
    border: 0.3rem solid var(--glow-color);
    border-radius: 1rem;
    animation-timing-function: ease-out;
    animation: border-glow 3s infinite;
    font-size: 5rem;
    color: var(--glow-color);
}
.box:hover 
{
    background-color: var(--glow-color);
    color: black;
}
@keyframes border-glow 
{
    0%{
        box-shadow: 0px 0px 8px 4px var(--glow-color);
    }
    10%{
        box-shadow: 0px 0px 4px 1px  var(--glow-color);
    }
    50%{
        box-shadow: 0px 0px 15px 8px var(--glow-color);
    }
    60%{
        box-shadow: 0px 0px 4px 1px var(--glow-color);
    }
    100%{
        box-shadow: 0px 0px 15px 8px var(--glow-color);
    }
}
.message-container
{
    height: 100vh;
    background: var(--pink-gradient);
    color: transparent;
    background-clip: text;

    text-align: center;
}
.message-container p{
    font-family: cursive;
    font-size: 4rem;
}
.btn
{
    padding:2vmin 3vmin;
    color: black;
    font-weight: 600;
    background-image:var(--pink-gradient);
    border: none;
    border-radius: 2vmin;
    cursor: pointer;
}
.hide
{
    display: none;
}